[Desktop Entry]
Type=Application
Name=ARMSX2
Exec=/usr/local/bin/ARMSX2-linux-Qt-arm64.AppImage
Icon=utilities-terminal
Categories=Game;Emulator;
Terminal=false